<!-- SEARCH PAGE -->

<!-- BASE TEMPLATE -->
{% extends "base.html" %}

{% block title %}{{username}}'s' Games{% endblock %}

{% block content %}

<head>
    <!-- <link rel="stylesheet" href="/static/css/search.css"> -->
    <link rel="stylesheet" href="/static/css/account.css">
</head>

<!-- DIV 1 -->
<br>
<div>
    <h1 class="center"> Welcome {{username}}!</h1>
    <br>
</div>

<h3 class="center"> Your Games</h3>

<br>
<br>

<!-- DIV 3 -->

<div class="container-fluid mx-auto"> 
    <div class="card">
        <div id="accordion">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">GAMES</th>
                        <th scope="col">GAME CODE</th>
                        <th scope="col">PUBLISHED</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for game in scavenger_hunts %}
                        <div class="card">
                            <tr>
                                <th scope="col">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#{{ game }}">
                                    {{ game[2] }}
                                    </button>
                                </th>
                                <td scope="col">{{ game[-2] }}</td>
                                {% if game[-1] == 'true' %}
                                <td scope="col">Published</td>
                                {% else %}
                                <td scope="col">Unpublished</td>
                                {% endif %}
                                <td scope="col">
                                    <form class="form-inline" action="" method="post">
                                        <input type="hidden" name="game_id" value="{{ game[0] }}">
                                        <input type="hidden" name="game_title" value="{{ game[2] }}">
                                        <input type="hidden" name="published" value="{{ game[-1] }}">
                                        <button type="submit" name="load_edit" value="{{ game[2] }}" class="btn btn-primary btn-sm">Edit</button>
                                        <button type="submit" name="delete_game" value="{{ game[2] }}" class="btn btn-primary btn-sm">Delete</button>
                                        {% if game[-1] == 'true' %}
                                        <button type="submit" name="change_publish" value="{{ game[0] }}" class="btn btn-primary btn-sm">Unpublish</button>
                                        {% else %}
                                        <button type="submit" name="change_publish" value="{{ game[0] }}" class="btn btn-primary btn-sm">Publish</button>
                                        {% endif %}
                                        
                                        <button type="submit" name="load_game" value="{{ game[2] }}" class="btn btn-primary btn-sm">Play</button>
                                    </form>
                                </td>
                            </tr>
                            <tr id="{{ game }}" class="collapse out">
                                <td>
                                    <div>
                                        <p><span class="color">Description: </span>{{ game[3] }}</p>
                                        <div class="col-"><span class="color">Location: </span>{{ game[4] }}</div>
                                        <div class="col-"><span class="color">GPS Required: </span>{{ game[6] }}</div>
                                        <div class="col-"><span class="color">Camera Required: </span>{{ game[7] }}</div>
                                        <div class="col-"><span class="color">Created On: </span>{{ game[8] }}</div>
                                        <div class="col-"><span class="color">Play Count: </span>{{ game[9] }}</div>
                                        <div class="col-"><span class="color">Game Code: </span>{{ game[-2] }}</div>
                                    </div>
                                </td>
                            </tr>
                        </div>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

      


<!-- Button trigger modal -->
<button type="button" class="delete btn btn-outline-warning marginb" data-toggle="modal" data-target="#exampleModal">Delete Account</button>
    

  
  <!-- Modal -->
  <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Warning: <b style="color: #e76d36;">Permanent Action</b></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete your account? This will remove all games that you have created.
        </div>
        <div class="modal-footer">
            <form action="" method="POST">
                <button type="submit" id="confirm_delete_account" name="confirm_delete_account" value='{{user_id}}' class="btn btn-secondary">Confirm Delete</button>
            </form>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </form>
        </div>
      </div>
    </div>
  </div>

   
</div>

{% endblock %}

