<!-- CREATE GAME PAGE -->

<!-- BASE TEMPLATE -->

{% block content %}

<head>
    <link rel="stylesheet" href="/static/css/create_game.css">
</head>

<!-- DIV 2 -->
    <div class="card mx-auto m-3">
        <div class="card-header">
            2. Edit Clues
        </div>
        {% if mode != "edit" %}
        <div class="card-body">
            <h5 class="card-title">You must create a game first in order to add clues.</h5>
        </div>
        {% else %}
        <div class="accordion card-body row m-2 mx-auto" id="cluesAccordion">
    
            <!-- FOR CLUE IN GAME DISPLAY CLUE -->
            {% for clue in clues %}
            <div class="accordion-item">
              <h2 class="accordion-header" id="{{clue_id}}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  For Clue In Game Display clue
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show m-2" aria-labelledby="{{clue_id}}" data-bs-parent="#cluesAccordion">
                <div class="accordion-body m-2">
                    {% include 'clue_form.html' %}
                </div>
              </div>
            </div>
            {% endfor %}

            <!-- ADD CLUES -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Add Clue
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse m-2" aria-labelledby="headingThree" data-bs-parent="#cluesAccordion">
                <div class="accordion-body m-2">
                    {% include 'clue_form.html' %}
                </div>
              </div>
            </div>
        </div>
        {% endif %}
    </div>





<!-- DIV 3 -->
<!-- <div>
    <form action="#" method="post">
            <div>
                <p>Clue #1</p>

                <p>Clue Description:</p>
                <p><textarea id="clue_description" name="clue_description" rows="4" cols="50"></textarea></p>

                <p>Set Location:</p> -->
                <!-- id="set_location" -->

                <!-- <p>Upload Image:</p> -->
                <!-- id="clue_image" -->

                <!-- <p>Add Media Link:</p>
                <p><textarea id="clue_link" name="clue_link" rows="1" cols="50"></textarea></p>

                <p>Clue Answer:</p> -->
                <!-- <p><input type="radio" id="public" name="privacy_level" value="public"></p> -->
                
<!-- 
                <p><input type="submit" value="Add another clue"></p>
            </div>
        </form>
</div> -->


{% endblock %}