<form class="row m-2 mx-auto" action="" method="post" enctype=multipart/form-data>
    <div class="form-group m-2">
        <label for="prompt_text">Clue Prompt Text:</label>
        <textarea type="text" class="form-control" id="prompt_text" name="prompt_text"></textarea>
    </div>

    <div class="form-group m-2">
        <label for="prompt_text">Clue Prompt Link:</label>
        <textarea type="text" class="form-control" id="prompt_link" name="prompt_link"></textarea>
    </div>

    <div class="form-group m-2">
        <label for="prompt_text">Upload a Prompt Image (visual hint):</label>
        <input type="file" class="form-control-file" id="prompt_image" name="prompt_image">
    </div>

    <div class="form-group m-2">
        <label>Answer Type:</label>
        {% if gps_box == 'checked' %}
        <div class="form-check">
            <input class="form-check-input" type="radio" id="coordinates" name="answer_type" value="coordinates">
            <label class="form-check-label" for="coordinates">GPS Check-In</label><br> 
        </div>
        {% endif %}
        <div class="form-check">
            <input class="form-check-input" type="radio" id="text" name="answer_type" value="text">
            <label class="form-check-label" for="text">Text Answer</label><br> 
        </div>  
    </div>

    <div class="form-group m-2">
        <label for="answer">Text Answer:</label>
        <input type="text" class="form-control" id="answer "name="answer">
    </div>

    <!-- IF ANSWER TYPE == COORDINATES -->
    

    
    <!-- <p>{{message}}</p> -->
    <p>{{clue_error}}</p>
    <input type="hidden"  name="game_id" value="{{game_id}}">
    <button type="submit" value="Add Clue" name="add_clue" class="btn btn-primary btn-sm">Add Clue</button>
</form>

<!-- <p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Link with href
    </a>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Button with data-bs-target
    </button>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
</div> -->