<form class="row m-2 mx-auto" action="" method="post">
    <div class="form-group m-2">
        <label for="prompt_text">Clue Prompt:</label>
        <textarea type="text" class="form-control" id="prompt_text" name="prompt_text"></textarea>
    </div>

    <div class="form-group m-2">
        <label for="answer_type">Answer Type:</label>
        <select id="answer_type" name="answer_type" class="form-control">
            <option selected>Choose...</option>
            <option value="coordinates">GPS Check-In</option>
            <option value="text">Text Answer</option>
        </select>
    </div>

    <div class="form-group m-2">
        <label for="answer">Text Answer:</label>
        <input type="text" class="form-control" id="answer "name="answer">
    </div>


    <!-- IF ANSWER TYPE == COORDINATES -->
    <!-- display ___ -->

    
    <!-- <p>{{message}}</p> -->
    <p><input type="submit" value="Create Clue"></p>

</form>