<!-- CREATE GAME PAGE -->



<!-- BASE TEMPLATE -->
{% extends "base.html" %}

{% block title %}Create a Game{% endblock %}

{% block head %}

<link rel="stylesheet" href="/static/css/create_game.css">
<link rel="stylesheet" href="static/css/geolocation.css">
<!-- Google API
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQUZWzt9YimeoO7S7BfOhiihKWVtBewtw&libraries=places&callback=initAutocomplete" async defer></script>
<script>document.body.appendChild(clearButton)</script> -->

{% endblock %}
{% block content %}

{% if user_creator == false %}
<div class="container-fluid mx-auto p-3">
    <div class="card mx-auto m-3">
        <div class="card-body mx-auto m-5">
            <h3 class="card-subtitle mb-2 text-muted">You do not have permission to edit this game.</h3>
            <p class="card-title">Please go to your account to edit games you have created.</p><br>
            <div class="m-2">
                <a class="btn btn-primary btn-lg" href="/account" role="button">My Account</a>
            </div> 
        </div>
    </div>
</div>

{% elif 'login' not in session or session['login'] == false %}
<div class="container-fluid mx-auto p-3">
    <div class="mx-auto m-3">
        <div class="mx-auto m-5">
            <!-- <h3 class="card-subtitle mb-2 text-muted">Would you like to make Scavenger Hunts?</h3>
            <p class="card-title">You need to login or create an account to get started.</p><br> -->
            <div class="m-2">
                {% include 'login_form.html' %}
            </div> 
        </div>
    </div>
</div>

{% else %}
<!-- DIV 1 -->
<div>
    {% if mode == 'edit' %}
    <h1 id="header">Edit {{title_placeholder}}</h1>
    {% else %}
    <h1 id="header">Create a Game!</h1>
    {% endif %}
</div>

<!-- DIV 2 -->

<div class="container-fluid mx-auto p-3">
    <div class="row">
        <div class="col-sm">
            <div class="card mx-auto m-3">
                <div class="card-header">
                    1. Game Details 
                </div>
                <form class="row m-2 mx-auto" action="" method="post">
        
                    <div class="form-group m-2">
                        <label for="game_title">Game Title:</label>
                        <input type="text" class="form-control" id="game_title "name="game_title" placeholder="{{title_placeholder}}" {{read}} onkeyup="letter_number_only(this)" {{required}}>
                    </div>
        
                    <div class="form-group m-2">
                        <label for="game_description">Game Description:</label>
                        <textarea class="form-control" id="game_description" name="game_description" rows="4" placeholder="{{description_placeholder}}" onkeyup="letter_number_only(this)" {{required}} {{read}}></textarea>
                    </div>
        
                    <div class="form-group m-2">
                        <label>Privacy Level:</label>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="public" name="privacy_level" value="public" checked="checked" data-toggle="modal" data-target="#exampleModal" {{disabled}} {{public_radio}}>
                            <label class="form-check-label" for="public">Public</label><br> 
                        </div>

                          <!-- Modal Public-->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Warning: <b style="color: #e76d36;">Public Games</b></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    Public games and associated data will be accessible to all. Please refer to Scavy Apps Privacy Policy for more information.
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="private" name="privacy_level" value="private" data-toggle="modal" data-target="#exampleModal2" {{disabled}} {{private_radio}}>
                            <label class="form-check-label" for="private">Private</label><br> 
                        </div> 
                        
                        <!-- Modal Private-->
                        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Warning: <b style="color: #e76d36;">Private Games</b></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    Private games and associated data will only be accessible to those with a game code or private game link. Please refer to Scavy Apps Privacy Policy for more information.
                                </div>
                            </div>
                            </div>
                        </div>

                    </div>
                        
                    <div class="form-group m-2">
                        <label>Device Requirements:</label>
                        <div class="form-check">
                            <input onclick="displayFromBox('gps_required', 'game_gps_input')" class="form-check-input" type="checkbox" id="gps_required" name="gps_required" value="true" data-toggle="modal" data-target="#exampleModal3" {{disabled}} {{gps_box}}>
                            <label class="form-check-label" for="gps_required">GPS Access</label><br>
                        </div>


                        <!-- Modal GPS-->
                        <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Warning: <b style="color: #e76d36;">GPS Access</b></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    GPS access allows Scavy App to collect user coordinates. Please refer to Scavy Apps Privacy Policy for more information.
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- DISPLAY IF GPS REQUIRED -->
                        <div class="form-group m-2" id="game_gps_input">
                            <label for="game_code">Game Location</label>
                            <!-- PUT GAME LOCATION SELECTOR HERE -->
                            {% include 'geolocation.html' %}
                        </div>
                            
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="camera_required" name="camera_required" value="true" data-toggle="modal" data-target="#exampleModal4" {{disabled}} {{camera_box}}>
                            <label class="form-check-label" for="camera_required">Camera Access</label><br>
                        </div>

                        <!-- Modal Camera-->
                        <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Warning: <b style="color: #e76d36;">Camera Access</b></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    Camera access allows Scavy App to capture photos from users. Please refer to Scavy Apps Privacy Policy for more information.
                            </div>
                            </div>
                        </div>
                    </div>
                    
                    <p>{{message}}</p>
                    {% if mode == 'edit' %}
                    <input type="hidden"  name="game_id" value="{{game_id}}">
                    <button type="submit" value="Edit Game" name="edit_game" class="btn btn-primary btn-sm">Edit Game</button>
                    {% elif mode == 'save' %}
                    <input type="hidden"  name="game_id" value="{{game_id}}">
                    <button type="submit" value="Save Game" name="save_game" class="btn btn-primary btn-sm">Save Game</button>
                    {% elif mode == 'create' %}
                    <input type="hidden" value="Create Game">
                    <button type="submit" value="Create Game" name="create_game" class="btn btn-primary btn-sm">Create Game</button>
                    {% endif %}
                </form>
            </div>
        </div>
        {% if mode != 'create' %}
        <div class="col-sm">
            {% include 'add_clues.html' %}
        </div>
        {% endif %}
        
    </div>


</div>


{% endif %}

<script>
    
    function displayFromBox(box, expose_field) {
        // Get the checkbox
        var checkBox = document.getElementById(box);
        // Get the output text
        var text = document.getElementById(expose_field);
      
        // If the checkbox is checked, display the output text
        if (checkBox.checked == true){
          text.style.display = "block";
        } else {
          text.style.display = "none";
        }
      }

    // document.getElementById("public").addEventListener('click',function(){
    // alert('Public games and associated data will be accessible to all. Please refer to Scavy Apps Privacy Policy for more information.');})

    // document.getElementById("private").addEventListener('click',function(){
    // alert('Private games and associated data will only be accessible to those with a game code or private game link. Please refer to Scavy Apps Privacy Policy for more information.');})

    // document.getElementById("gps_required").addEventListener('click',function(){
    // alert('GPS access allows Scavy App to collect user coordinates. Please refer to Scavy Apps Privacy Policy for more information.');})

    // document.getElementById("camera_required").addEventListener('click',function(){
    // alert('Camera access allows Scavy App to capture photos from users. Please refer to Scavy Apps Privacy Policy for more information.');})
</script>

{% endblock %}


