<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS FILE -->
    <link rel="stylesheet" href="static/css/geolocation.css">
    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <!-- GOOGLE API  -->
    <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQUZWzt9YimeoO7S7BfOhiihKWVtBewtw&callback=initAutocomplete"></script> -->
<body>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
    <!-- <script src="{{url_for('static',filename='js/placeLibary.js')}}"></script> -->
    <!-- Google API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQUZWzt9YimeoO7S7BfOhiihKWVtBewtw&libraries=places&callback=initAutocomplete" async defer></script>

    <!-- DOM error? -->
    <!-- <button onclick="reload()" id="clearButtonDiv">Clear Map</button> -->

<script>

    function initAutocomplete() {
        var mapStartingLocation = {lat:38.85637240807301,lng: -90.31152627553638};
        var options = {
          zoom:10,
          center: mapStartingLocation
      }
      // Create map
      var map = new google.maps.Map(document.getElementById('map'),options)
        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
      
        
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });
        
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();
          if (places.length == 0) {
            return;
          }
          
          
          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };
            
            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
        
        // Allow only one marker
        g = 0
        google.maps.event.addListener(map, 'click', function( event ){
          for(g;g<1;g++){
            userSelectedMarker = {coords:{lat:event.latLng.lat(), lng:event.latLng.lng()}};
            markersArray.push(userSelectedMarker);
            
          }
          // Add multiple markers to the Array
          // for(var i = 0;i<markersArray.length;i++)
          // {
          //   addMarker(markersArray[i]);
          // }
          
          
          console.log(markersArray);
          // Add one marker to the Array
          i = 0
          for(i;i<1;i++)
          {
            addMarker(markersArray[i]);
          }
        });
        
        var markersArray = [];
      
          // Reload map (remove markers)
          clearButton.addEventListener('click', () => {
            console.log("clear Map");
            
          })
       
          
          // Add marker functions
          function addMarker(props){
              var marker = new google.maps.Marker({
                  position: props.coords,
                  // Add markers to this map
                  map: map
              });
              showPosition(props);    
          }
          
          // Geolocation
          infoWindow = new google.maps.InfoWindow();
          
          // locationButton being made
          // const locationButton = document.createElement("button");
      
          locationButton.textContent = "Pan to Current Location";
          //document.getElementById("locationButton").style.color = "red";
          locationButton.classList.add("custom-map-control-button");
          map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationButton);
          locationButton.addEventListener("click", () => {
              // Try HTML5 geolocation.
              if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(
                  (position) => {
                  const pos = {
                      lat: position.coords.latitude,
                      lng: position.coords.longitude,
                  };
      
                  infoWindow.setPosition(pos);
                  infoWindow.setContent("Location found.");
                  infoWindow.open(map);
                  map.setCenter(pos);
                  },
                  () => {
                  handleLocationError(true, infoWindow, map.getCenter());
                  }
              );
              } else {
              // Browser doesn't support Geolocation
              handleLocationError(false, infoWindow, map.getCenter());
              }
          });
      }
      
      
      // This function promps the user that location is disabled
      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        window.alert("Location service is disabled")
        infoWindow.setPosition(pos);
        infoWindow.setContent(
            browserHasGeolocation
            ? "Error: The Geolocation service failed."
            : "Error: Your browser doesn't support geolocation."
        )
      infoWindow.open(map);
      }
      // Function that reloads the map (removes marker)
      // const url = 'http://127.0.0.1:5000/geolocation';
      // URL that helped with the clear map dom error
      function reload(map){
      
        initAutocomplete();
        markersArray = [];
      
       //this line is to watch the result in console , you can remove it later	
        console.log("Refreshed"); 
      }
      const clearButton = document.createElement("button")
      clearButton.innerHTML = "Clear Map"
      
      // clearButton.appendChild(clearButton);
      var selectClearMap = document.getElementById("clearButtonDiv");
      
      selectClearMap.addEventListener("click", reload);
      // selectClearMap.appendChild(clearButton);
      
      //fetch cords to database
      function showPosition(props) {
        let latitude = props.coords.lat;
        let longitude = props.coords.lng;
        let location = '('+latitude+', '+longitude+')';
        console.log(JSON.stringify({ location }))
        let create_url = window.location.href
        fetch(create_url, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ location })
        })
        .then((response)=>{         
            if(response.redirected){
                window.location.href = response.url;
            }
        })  
        .catch(function(e){
            
        })
    }

</script>

</body>
</html>

