<!-- BASE TEMPLATE -->
{% extends "base.html" %}

{% block title %}Scavy App{% endblock %}

{% block content %}

<head>
  <link rel="stylesheet" href="/static/css/index.css">
</head>

<div class="container-fluid mx-auto p-3">

  <div class="container containerMargin">
    <div class="row m-2">
      <div class="col-sm mx-auto m-2">
        <br>
        <br>    

        <h1 class="bold">Create custom scavenger hunts for you and your friends!</h1>

        <div class="row align-items-start">
          <div class="col-12"><hr></div>
          <!-- <div class="col-4"><hr></div>
          <div class="col-4"><hr></div> -->
        </div>

        <br>

        <p> Scavy App is an online platform that helps you create interactive scavenger hunts and experiences.</p>
        <br>

        <p><b>Features</b></p>
        <ul>
          <li>Play scavenger hunt games from anywhere!</li>
          <li>Add images and media links to clues to help guide your players</li>
          <li>Use geocoordinate check-ins to create an interactive experience</li>
        </ul>
        <br>

        {% if 'login' not in session %}
        <a class="btn btn-primary btn-lg" href="/sign-up" role="button">Get Started</a>
        {% elif session['login'] == True %}
        <a class="btn btn-primary btn-lg" href="/account" role="button">View Your Games</a>
        {% else %}
        <a class="btn btn-primary btn-lg" href="/sign-up" role="button">Get Started</a>
        {% endif %}

        <!-- <p><img class="search" src="/static/images/search.png"  alt="search"></p> -->

      </div>
      <div class="col-sm mx-auto m-2">
        <br>
        <br> 
        <p><img class="phone" src="/static/images/home.png"  alt="phone"></p>
      </div>
    </div>
  </div>

  <!-- HOW PEOPLE USE SCAVY APP -->
  <h2 class="center bold">How people use Scavy App</h2>

  <div class="container card cardUse">
    <div class="row rowUse">
      <div class="col-lg">
        <p class="center"><b>Team Building</b></p>
        <p>Connect your team, engage any audience, or broaden your event's participant pool with an interactive experience accessible from anywhere.</p>
        <!-- <img src="https://media.giphy.com/media/3o6UBpHgaXFDNAuttm/giphy.gif"> -->
        <p><img class="team" src="/static/images/team.png"  alt="team"></p>
        <br>
      </div>


      <div class="col-lg">
        <p class="center"><b>On Boarding</b></p>
        <p>Set up your new hires up for success with an easy-to-organize and interactive program that allows you to educate employees in a fun way.</p>
        <!-- <img src="static/images/dev.png" width="100" height="50"> -->
        <p><img class="onboard" src="/static/images/onboard.png"  alt="onboard"></p>
        <br>
      </div>

      <div class="col-lg">
        <p class="center"><b>Tours</b></p>
        <p>Create an immersive experience for your clients, that highlight the best of your attractions.</p>
        <p><img class="tour" src="/static/images/tour.png"  alt="tour"></p>
      </div> 
    </div>
  </div>

  <!-- HOW TO -->
  <div class="container">
    <h2 class="center bold">How to start creating with Scavy App</h2>
  </div>

  <div class="container card cardGetStarted">
    <div class="row rowHowTo">

      <div class="col-lg marg">
        <p class="center"><b>Getting Started</b></p>
        <ul class="howto" style="list-style: none;">
          <li>1. Create an <a href="/account">account</a></li>
          <li>2. Build a scavenger hunt <a href="/create-game">game</a></li>
          <li>3. Publish your completed game on your <a href="/account">account</a></li>
          <li>4. <a href="/search-games">Play</a> and share your game code with friends!</li>
        </ul>
        <br>
      </div>
      
      <div class="col-lg">
        <!-- <p class="center"><b>Check out our Scavy App tutorial!</b></p> -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VmRscRHzOpk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

    </div>
  </div>

  <!-- FAQ -->
  <div class="container">
    <h2 class="center bold">Questions? We have answers.</h2>
  </div>

  
  <div class="container card cardFAQ">
    <div class="row m-2 rowUse">

      <div class="col-sm mx-auto m-2">
        <p><img class="question" src="/static/images/question.png"  alt="?"></p>
      </div>
      
    <div class="col-sm col-sm mx-auto m-2">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <br>
          <br>
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              How much does Scavy App cost?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Scavy App is free for all users!</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Can I create multiple scavenger hunt games?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">There is no limit on the number of games you can create. You must have a Scavy App account to create hunts.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              How can I share my games with friends?
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">You can share your unique game code for private or public games. Find your game code on your account page & click your game name!</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
              Is there a way to search for a specific game?
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">On the play tab, you can filter Scavy App games by name, location, and most played.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              Do I have to create an account to play games?
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">You can play games as a guest. You do not have to create an account to play.</div>
          </div>
        </div>
      </div>
    </div>


  </div>

  </div>
  

<!-- DEVELOPMENT TEAM -->
  <div class="container margTeam">
    <div class="row rowUse">
      <h2 class="center bold">Hi, we're Scavy App Development Team!</h2>

      <div class="card cardTeam" style="width: 13rem;">
        <img src="/static/images/kenna.png" class="card-img-top" alt="kenna">
        <div class="card-body">
          <p class="card-text">Kenna Bogue &#128187;</p>
        </div>
      </div>

      <div class="card cardTeam" style="width: 13rem;">
        <img src="/static/images/kate.png" class="card-img-top" alt="kate">
        <div class="card-body">
          <p class="card-text">Kate Clemens &#127912;</p>
        </div>
      </div>

    <div class="card cardTeam" style="width: 13rem;">
      <img src="/static/images/zack.png" class="card-img-top" alt="zack">
      <div class="card-body">
        <p class="card-text">Zack Augustine &#128205;</p>
      </div>
    </div>

    <div class="card cardTeam" style="width: 13rem;">
      <img src="/static/images/mathew.png" class="card-img-top" alt="Mathew">
      <div class="card-body">
        <p class="card-text">Mathew Kelsey &#128272;</p>
      </div>
    </div>

    <div class="card cardTeam" style="width: 13rem;">
      <img src="/static/images/hossam.png" class="card-img-top" alt="Hossam">
      <div class="card-body">
        <p class="card-text">Hossam Hassan &#128194;</p>
      </div>
    </div>

  </div> 
  
</div>

    
{% endblock %}
