<!-- BASE TEMPLATE -->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<head>
  <link rel="stylesheet" href="/static/css/index.css">
</head>

<div class="container-fluid mx-auto p-3">

  <div class="container">
    <div class="m-3"> 
      <h1>Create custom scavenger hunts for you and your friends!</h1>
    </div>


    <div class="row align-items-start">
      <div class="col-6"><hr></div>
      <div class="col-4"><hr></div>
      <div class="col"><hr></div>
    </div>
  </div>  

  <div class="container containerMargin">
    <div class="row m-2">
      <div class="col-sm col-sm mx-auto m-2">
              <p> Scavy is an online platform that helps you create interactive scavenger hunts and experiences.</p>
              <a class="btn btn-primary btn-lg" href="/sign-up" role="button">Get Started</a>
              <br>
              <br>
      </div>
      <div class="col-sm mx-auto m-2">
          <p><img class="phone" src="/static/images/home.png"  alt="phone"></p>
      </div>
    </div>
  </div>

  <h2 class="center">How people use Scavy App</h2>

  <div class="container card">
    <div class="row rowMargin">
      <div class="col-lg">
        <p class="center"><b>Team Building</b></p>
        <p>Connect your team, engage any audience, or broaden your event's participant pool with an interactive experience accessible from anywhere.</p>
        <!-- <img src="https://media.giphy.com/media/3o6UBpHgaXFDNAuttm/giphy.gif"> -->
      </div>
      <div class="col-lg">
        <p class="center"><b>On Boarding</b></p>
        <p>Set up your new hires up for success with an easy-to-organize and interactive program that allows you to educate employees in a fun way.</p>
        <!-- <img src="static/images/dev.png" width="100" height="50"> -->
      </div>
      <div class="col-lg">
        <p class="center"><b>Tours</b></p>
        <p>Create an immersive experience for your clients, that highlight the best of your attractions.</p>
      </div>
    </div>
  </div>

  <!-- <div class="container containerMargin">
    <h2>Getting started with Scavy App</h2>
  </div> -->

  <!-- <div class="containerMargin FAQ">
    <div class="row m-2">
      <div class="col-sm col-sm mx-auto m-2">
        <p>FAQ's</p>
      </div>
      <div class="col-sm col-sm mx-auto m-2">
        <p>List</p>
      </div>
    </div>
  </div> -->

  <!-- <div class="container">
    <h1>Hi, we're Scavy App Development Team</h1>
  </div>  -->
  
</div>

    
{% endblock %}
