{% extends "base.html" %}
{% block content %}

<div class="container-fluid mx-auto p-3">
  <div class="m-3"> 
    <h1>Create custom scavenger hunts for you and your friends!</h1>
  </div>
  <div>
    <div class="row align-items-start">
      <div class="col-6"><hr></div>
      <div class="col-4"><hr></div>
      <div class="col"><hr></div>
  </div>
  <div class="card mx-auto m-3" style="width: 18rem;">
    <div class="card-body mx-auto m-5">
      <p class="card-text">Placeholder.</p>
    </div>
  </div>
  <div class="m-2">
    <p> Scavy is an online platform that helps you create interactive scavenger hunts and experiences.</p>
  </div>
  <div class="m-2">
    <button type="button" class="btn btn-primary btn-lg">Get Started</button>
  </div>

  


</div>

    
{% endblock %}
