<!-- LOGIN Form -->

{% block content %}

<head>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

    <p class="error center">Please login or create an account to create games.</p><br>

    <!-- DIV 1 -->
    <div>
        <p class="center">Don't have a Scavy App account? <a href="/sign-up">Sign up</a></p>
    </div>

    <!-- DIV 2 -->
        <form action="" method="POST">
        <div class="credentials">
            <p class="left">Username</p>
            <p><input type="text" name = "user" onkeypress="letter_number_only(this)" required/></p>
            <p class="left2">Password</p>
            <p><input type="password" name = "password" onkeypress="password_val(this)" required/></p>
            <p class="error">{{error}}</p>
            <button href="/login" type="submit" name = "login" class="btn btn-primary btn-lg">Log in</button>
        </div>
        </form>
        {% if session['login'] == True %}
        <br>
        <p>{{session['user']}}</p>
        {% endif %}
    </div>

{% endblock %}