<!-- LOGIN PAGE -->

<!-- BASE TEMPLATE -->
{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>

    <!-- DIV 1 -->
    <div>
        <h1 id="header">Welcome back! Log in</h1>
        <p>Don't have a Scavy App account? <a href="/sign-up">Sign up</a></p>
    </div>

    <!-- DIV 2 -->
    <div>
        <form action="" method="POST">
        <div class="credentials">
            <p>Username:</p>
            <p><input type="text" name = "user" onkeyup="letter_number_only(this)" minlength="6"/></p>
            <p>Password:</p>
            <p><input type="password" name = "password" onkeyup="letter_number_only(this)"/></p>
            <p class="error">{{error}}</p>
            <button href="/login" type="submit" name = "login" class="btn btn-primary btn-lg">Log in</button>
        </div>
        </form>
        {% if session['login'] == True %}
        <br>
        <p>{{session['user']}}</p>
        {% endif %}
    </div>

    <!-- DIV 3 -->
    <div class="login_options">
        <br>
        <p>Continue as <a href="/home" value="guest">Guest</a></p>
    <div>

</body>

{% endblock %}