{% extends "base.html" %}

{% block title %}Play Game{% endblock %}

{% block content %}

<!-- If clue_id == -2 there is no game currently loaded
    This prompts user to load a game -->
{% if clue_id == -2 %}
    <div class="container-fluid mx-auto p-3">
        <div class="m-3">
            <h1>Let the hunt begin!</h1>
        </div>
        <div class="m-2">
            <a href="/search-games" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Find a Game</a>
        </div> 
    </div>

<!-- Otherwise a game page is loaded with a clue or mission complete -->
{% else %}
    <div class="container-fluid mx-auto p-3">
        <!--  PAGE TITLE: -->
        <div class="m-3">
            <!-- If past final clue shows mission complete -->
            <!-- ID is automatically set to -1 at bottom after past final clue  -->
            {% if clue_id == -1 %}
                <h1>Mission Complete!</h1>
            {% else %}
            <!-- Otherwise display new game info -->
                <h1>Let the hunt begin!</h1>
            {% endif %}
            <!-- Displays current game title -->
            <h3>Game: {{game}}</h3>
        </div>

        <!-- DIVIDER BAR -->
        <div class="row align-items-start">
            <div class="col-6"><hr></div>
            <div class="col-4"><hr></div>
            <div class="col"><hr></div>
        </div>

        <!-- IF clue is not set to mission complete -->
        {% if clue_id != -1 %}

        <!-- DISPLAY CLUE -->
        <div class="card mx-auto m-3">
            <div class="card-body mx-auto m-5">
                <h3 class="card-subtitle mb-2 text-muted">Clue #: {{ clue_id }}</h3>
                <h3 class="card-title">{{ prompt }}</h3>
            </div>
        </div>

        <!-- ANSWER AREA -->
            
        <div class="m-2">

            <!-- Display answer information while testing -->
            <p>Answer: {{ answer }}</p>
        </div>
            
            {% if answer_type == 'text' %}
            <!-- FORM Input - triggers play route to load next clue -->
            <div class="m-2">
                <p>Text Answer Type: {{ answer_type }}</p>
                <form class="form-inline" action="" method="post">
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text"> 
                        <button type="submit" name="nextClue" class="btn btn-primary btn-lg">Next Clue</button>
                    </div>
                </form>
            </div> 
            {% elif answer_type == 'coordinates' %}
            <div class="m-2">
                <p>Coordinates Answer Type: {{ answer_type }}</p>
                <form class="form-inline" action="" method="post">
                    <div class="form-group mx-sm-3 mb-2">
                        <button type="submit" name="nextClue" class="btn btn-primary btn-lg">Next Clue</button>
                    </div>
                </form>
            </div> 
            {% endif %}

        <!-- IF mission is complete -->
        {% else %}
        <div class="card mx-auto m-3">
            <div class="card-body mx-auto m-5">
                <h3 class="card-title">Congrats!!!</h3>
                <h3 class="card-title">You have completed {{game}}.</h3>
            </div>
        </div>

        <!-- INPUT automatically triggers and sets game to complete -->
        <form action="" method="post">
            <input type="hidden" name="reset">
        </form>
        <div class="m-2">
            <a href="/search-games" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Find a new game</a>
        </div> 
        {% endif %}
    </div>
{% endif %}
    

{% endblock %}



