{% extends "base.html" %}
{% block content %}

{% if clue_id == -2 %}
    <div class="container-fluid mx-auto p-3">
        <div class="m-3">
            <h1>Let the hunt begin!</h1>
        </div>
        <div class="m-2">
            <a href="/search" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Find a Game</a>
        </div> 
    </div>

{% else %}
    <div class="container-fluid mx-auto p-3">
        <div class="m-3">
            {% if clue_id == -1 %}
                <h1>Mission Complete!</h1>
            {% else %}
                <h1>Let the hunt begin!</h1>
            {% endif %}
            <h3>Game: {{game}}</h3>
        </div>
        {% if clue_id != -1 %}
        <div class="row align-items-start">
            <div class="col-6"><hr></div>
            <div class="col-4"><hr></div>
            <div class="col"><hr></div>
        </div>
        <div class="card mx-auto m-3">
            <div class="card-body mx-auto m-5">
                <h3 class="card-subtitle mb-2 text-muted">Clue #: {{ clue_id }}</h3>
                <h3 class="card-title">{{ prompt }}</h3>
            </div>
        </div>
        <div class="m-2">
            <p>Coordinates: {{ coordinates }}</p>
            <p>Answer: {{ answer }}</p>
        </div>
        <div class="m-2">
            <a href="/play/{{game}}/{{id+1}}" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Next Clue</a>
        </div> 
        {% else %}
        <div class="card mx-auto m-3">
            <div class="card-body mx-auto m-5">
                <h3 class="card-title">Congrats!!!</h3>
                <h3 class="card-title">You have completed {{game}}.</h3>
            </div>
        </div>
        <div class="m-2">
            <a href="/search" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Find a new game</a>
        </div> 
        {% endif %}
    </div>
{% endif %}
    



{% endblock %}



