{% extends "base.html" %}
{% block content %}
    <h1>ScavyApp Privacy Policy </h1>
    <p>ScavyApp is a Capstone Project built for the Department of Information Technology in the College of Engineering at the University of Missouri Columbia. This is how we use the data collected when you use ScavyApp. 
    </p>

    <h3>Overview:</h3>
    <ul>
        <li>What data do we collect?</li>
        <li>How do we collect and store your data?</li>
        <li>How will we use your data?</li>
        <li>Changes to Privacy Policy</li>
        <li>Contact</li>
    </ul>

    <h3>Data Collected:</h3>
    <ul>
        <li>Account information : Account data collected includes an email, username, and password. Passwords are encrypted and are unknown to Scavify. Guest account access is available to play games for users who do not want to create an account.</li>
        <li>Game information : Our servers record the clues and answers provided by users to create games including text data, links, images, or location data. If a creator makes a private game, all game data is encrypted until a player enters a private game code to access the code. We also collect the answers that users enter while playing games. We may also collect game statistics including the date a game was created, played, or the time it took to complete.</li>
        <li>Geo-location information : We only collect geo-location information with user consent. Geo-location is required to play some games which can be filtered in search settings. GPS location is encrypted to prevent tracking ScavyApp users.</li>
    </ul>

    <h3>How do we collect and store your data?</h3>
    <p>Data is collected directly from the user in the following ways: </p>
    <ul>
        <li>Form submissions </li>
        <li>Buttons to grab geo-location </li>
        <li>Secure data is encrypted and stored on our servers.</li>
        <li>Game data has no expiration date, but games can be deleted by creators. Accounts can be deleted by users. If a user deletes their account, all their games are also deleted.</li>
    </ul>
 
    <h3>How do we use your data?</h3>
    <ul>
        <li>The data collected in ScavyApp is used to generate scavenger hunts that are shared publicly or privately for others to play.</li>
    </ul>

    <h3>Changes to our privacy policy</h3>
    <ul>
        <li>Any changes to this privacy policy will be placed on this page. This privacy policy was last updated on 29 September 2022.</li>
    </ul>

    <h3>How to contact us</h3>
    <ul>
        <li>Email us at: kjbkc7@umsystem.edu</li>
    </ul> 
    
{% endblock %}