body{
    background-color: #FAF9F6;
}
#header{
    text-align: center;
}
.center{
    text-align: center;  
}

#text_input {
    display: none;
}

#gps_input {
    display: none;
}

#game_gps_input {
    display: none;
}
.marginBottom{
    margin-bottom: 230px;
}
.error{
    color: #dd4229;
}
body{
    background-color: #FAF9F6;
}
.bottom{
    margin-bottom: 200px;
}
/* .marginBottom{
    margin-bottom: 200px;
} */