.containerMargin{
    margin-bottom: 100px;
}
/* DIV Style https://www.geeksforgeeks.org/how-to-change-the-thickness-of-hr-tag-using-css/ */
hr {
    border: none;
    border-radius: 4px 4px 4px 4px;
    height: 8px;
    background: #f4cb6d;
}
.phone{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 430px;
    height: 540px;
}
.search{
    display: block;
    margin-left: auto;
    margin-right: 10px;
    width: 250px;
    height: 250px;
}
.question{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 400px;
    height: 400px;
}
.team{
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.tour{
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.onboard{
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.cardUse{
    border: none;
    margin-top: 25px;
    margin-bottom: 150px;
    background-color: #faf3b6;
    color: black;
}
.cardTeam{
    border: none;
    margin-top: 25px;
    background-color: #f1eee6;
    color: black;
    margin: 25px;
}
.margTeam{
    margin-bottom: 150px;
}
.cardFAQ{
    margin-top: 25px;
    margin-bottom: 150px;
    border: none;
}
.card-img-top{
    object-fit: cover;
    margin-top: 10px;
    height: 190px;
    width: 100%;
}
.card-body{
    border-left-width: 0px;
}
.card-text{
    font-weight: 545;
    text-align: center;
}
.rowUse{
    margin-top: 50px;
    margin-bottom: 50px;  
    justify-content: center;
}
.FAQ{
    background-color: #f4cb6d;
    justify-content: center;
    color: white;
}

@media (max-width:767px) {
    .phone {
        display: block;
        margin-left: -10px;
        margin-right: auto;
        width: 300px;
        height: 400px;
    }
}

@media (max-width:767px) {
    .search {
        display: none;
    }
}

@media (max-width:767px) {
    .question {
        display: block;
        margin-left: -10px;
        margin-right: auto;
        width: 300px;
        height: 300px;
    }

}

