#header{
    text-align: center;
}
p{
    text-align: center;  
}
.credentials{
    text-align: center;
}
.login_options{
    text-align: center;
}
.error{
  color: #dd4229;
}
.left{
    margin-left: -120px;
    font-size: 15px;
}
.left2{
    margin-left: -115px;
    font-size: 15px;
}
