/* CSS Pallete */
.pallete{
    /* default background */   
    color: white;
    /* all font including headers */ 
    color: black;
    /* active page */ 
    /* footer, nav hover */ 
    color: #f1b675;
    /* error messages, delete button */ 
    color: #dd4229;
    /* div background > play.html */ 
    color: #e99040;
    /* buttons, warnings */    
    color: #e76d36;
    color: #a2311f;
    color: #0f151b;
    /* game play background */
    color: #f7e7ca;
    /* clue bubbles > play.html */  
    color: #f4cb6d;
    color: #faf3b6;
    /* game progress bar */
    color: #eaecef;
    /* off white background color, nav bar */
    color: #FAF9F6;
    /* card home page */
    color: #095fd7;
    /* card team images */
    color: #f1eee6;
    /* success */
    color: #b3e59f;
}

/* Header Style */
.h1{
    font-size: 29px; 
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-weight: bold;
}
.h3{
    font-size: 23px; 
    font-family: Arial, Helvetica, sans-serif;  
}
.center{
    justify-content: center;
}

/* Body Style */
body{
    font-size: 17px; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAF9F6;
}
.center{
    text-align: center;
}
/* Button Style */
.btn-primary {
    background-color: #e76d36;
    border: none;
}
/* Footer Style */
 #page-container {
    position: relative;
    min-height: 90vh;
  }
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
.over_ride{
    /* position: absolute; */
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: -80px;
}
.error{
    color: #dd4229;
}

.bold{
    font-weight: 400;
}
.logo{
    display: block ;
    margin-left: 0px;
    margin-right: 770px;

}

.navbar-nav a:hover { color: #f1b675 !important; }
.links a:hover { color: #faf3b6 !important; }

@media (max-width:767px) {
    .logo {
    display: block ;
    margin-left: 35px;
    margin-right: auto;
    }

}