/* CSS Pallete */
.pallete{
    /* default background */   
    color: white;
    /* all font including headers */ 
    color: black;
    /* active page */ 
    /* footer */ 
    color: #f1b675;
    /* error messages */ 
    color: #dd4229;
    /* div background > play.html */ 
    color: #e99040;
    /* buttons */    
    color: #e76d36;
    color: #a2311f;
    color: #0f151b;
    /* game play background */
    color: #f7e7ca;
    /* clue bubbles > play.html */  
    color: #f4cb6d;
    /* game progress bar */
    color: #eaecef;

}

/* Header Style */
.h1{
    font-size: 29px; 
    font-family: Arial, Helvetica, sans-serif;
}
.h3{
    font-size: 23px; 
    font-family: Arial, Helvetica, sans-serif;  
}
.center{
    justify-content: center;
}

/* Body Style */
body{
    font-size: 17px; 
    font-family: Arial, Helvetica, sans-serif;
}

/* DIV Style https://www.geeksforgeeks.org/how-to-change-the-thickness-of-hr-tag-using-css/ */
hr {
    border: none;
    border-radius: 4px 4px 4px 4px;
    height: 8px;
    background: #db9a03
}

/* Button Style */
.btn-primary {
    background-color: #e76d36;
    border: none;
}
/* Footer Style */
 #page-container {
    position: relative;
    min-height: 90vh;
  }
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  /* #footer {
    background-color: #f1b675;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    bottom: 0;
  } */
.over_ride{
    /* position: absolute; */
    width: 100%;
    left: 0;
    bottom: 0;
    margin-bottom: -80px;
}
/* Nav Style */
#nav {
    color: black;
}



