/* body{
    background-color: #f7e7ca;
} */
.play_title{
    text-align: center;
}
.game_title{
    color: #e99040;
}
.error{
    color: #dd4229;
  }
.card{
    border: none;
    background-color:white;
    color: black;
}
.card-subtitle-text{
    color: white;
}
.clue_id{
    color:#e99040;
}