.login_h1{
    /* padding-top: 6%; */
    text-align: center;
    border-style: double;
    width:fit-content;
    border-color: black;
    border-width: 4px;
}
.credentials{
    text-align: center;
}
.login_options{
    text-align: center;
}